# Linear Regression
You should build a machine learning pipeline using a linear regression model. In particular, you should do the following:
- Load the `housing` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a linear regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Importing Libraries

In [40]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sklearn.metrics

## Loading Dataset

In [31]:
df = pd.read_csv("../../datasets/housing.csv")
df = df.set_index("id")
df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

In [41]:
# create x and y

x=df.drop(['price'], axis=1)

y = df["price"]

In [42]:
# split data into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y)

print("df:",df.shape)
print("x_train",x_train.shape)
print("x_test",x_test.shape)
print("y_train",y_train.shape)
print("y_test",y_test.shape)

df: (545, 13)
x_train (408, 12)
x_test (137, 12)
y_train (408,)
y_test (137,)

## Training Our Model

In [43]:
# instantiate, fit
reg_model = LinearRegression()
reg_model.fit(x_train, y_train)

LinearRegression()

## TESTING

In [46]:
y_predicted = reg_model.predict(x_test)

## CALCULATING MSE

In [48]:
mse = sklearn.metrics.mean_squared_error(y_test,y_predicted)
mse

1167390851166.5046